.free-receive {
    width: 100%;
    height: 200px;
}

.free-receive-img {
    width: 100%;
    height: 200px;

    background-image: url('../image/title.png');
    background-size: 100% 100%;
}