.receive-end {
    width: 100%;
    height: 75px;
}

.end-tip {
    width: 180px;
    height: 20px;

    margin: 25px auto 5px;
    
    background-image: url('../../image/tip-end.png');
    background-size: 100% 100%;
}
