* {
    padding: 0;
    margin: 0;
}

.rootDiv {
    overflow: hidden;

    width: 100%;
    height: 100%;

    background-image: url('../../image/bg-1.png');
    background-size: 100% 100%;
}
